<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83273188526-85s3ltteu6ldjtltdcilbaapmh8lnjie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83273188526-85s3ltteu6ldjtltdcilbaapmh8lnjie</string>
	<key>API_KEY</key>
	<string>AIzaSyA-VqCDwDch7c56p2xTq0_LFTtSUdAEpE0</string>
	<key>GCM_SENDER_ID</key>
	<string>83273188526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiyono.Positive.taffi</string>
	<key>PROJECT_ID</key>
	<string>taffi-f610f</string>
	<key>STORAGE_BUCKET</key>
	<string>taffi-f610f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83273188526:ios:8b13ed8679557537e1593f</string>
</dict>
</plist>